@if (Results is not null && Results.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Lat</th>
                <th>Lng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Results)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Lat</td>
                    <td>@item.Lng</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public IReadOnlyList<PlaceDetails>? Results { get; set; }
}
